:root {
    --bg-color: #ffffff;
    --heading-color: #1B1C1E;
    --text-color: #2B2B2B;

}

html {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

div {
    display: block;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Header */


/* Footer */
.footer {
    flex-shrink: 0;
}

.footer-copyright{
    color: white;
    text-align: left;
    margin-top: 3%;
    padding-bottom: 1%;
    padding-left: 3%;
}